@import "https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700";

p {
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  width: 90px;
  padding: 20px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

/* --------------------------------------------------
Map
-----------------------------------------------------*/
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
  display: flex;
  align-items: stretch;
  perspective: 1500px;
  background-color: #263238;
}

#findInLocation {
  padding: 10px;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  height: 40px;
  width: 200px;
  margin: 10px 10px;
}

#locationField {
  padding: 5px;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  height: 40px;
  width: 200px;
  margin: 10px 10px;
}

#sidebar {
  min-width: 280px;
  max-width: 280px;
  background: #263238;
  color: #eceff1;
  transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  transform-origin: bottom left;
  -webkit-box-shadow: 20px 4px 49px -30px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 20px 4px 49px -30px rgba(0, 0, 0, 0.76);
  box-shadow: 20px 4px 49px -30px rgba(0, 0, 0, 0.76);
}

#sidebar.active {
  margin-left: -250px;
  transform: rotateY(100deg);
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #37474f;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

/* ---------------------------------------------------
    BUTTONS
----------------------------------------------------- */
.btn {
  border: none;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 5px 60px;
  text-transform: uppercase;
  font-weight: 300;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* ---------------------------------------------------
    Icons
----------------------------------------------------- */
.icon {
  position: absolute;
  left: 18px;
  top: 9px;
  font-size: 30px;
}

/* ---------------------------------------------------
    Icons
----------------------------------------------------- */
#sidebar div.search-section {
  padding: 20px 4px;
  font-size: 25px;
}

/* ---------------------------------------------------
    CONTENT STYLE X
----------------------------------------------------- */
#content {
  background-color: #37474f;
  width: 100%;
  padding: 2px;
  min-height: 100vh;
  transition: all 0.3s;
}

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #cfd8dc;
  cursor: pointer;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #607d8b;
  transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
  transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
  transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}

#sidebarCollapse span:last-of-type {
  transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
  transform: none;
  opacity: 1;
  margin: 5px auto;
}

/* ---------------------------------------------------
    MAPS
----------------------------------------------------- */
#map {
  height: 94%;
  margin: 10;
  padding: 0;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
    transform: rotateY(90deg);
  }

  #sidebar.active {
    margin-left: 0;
    transform: none;
  }

  #sidebarCollapse span:first-of-type,
  #sidebarCollapse span:nth-of-type(2),
  #sidebarCollapse span:last-of-type {
    transform: none;
    opacity: 1;
    margin: 5px auto;
  }

  #sidebarCollapse.active span {
    margin: 0 auto;
  }

  #sidebarCollapse.active span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
  }

  #sidebarCollapse.active span:nth-of-type(2) {
    opacity: 0;
  }

  #sidebarCollapse.active span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
  }
}
